[submodule "lib/clojurescript"]
	path = lib/clojurescript
	url = https://github.com/clojure/clojurescript.git
[submodule "lib/one"]
	path = lib/one
	url = https://github.com/brentonashworth/one.git
[submodule "lib/domina"]
	path = lib/domina
	url = https://github.com/levand/domina.git
